@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.tabs {
  font-family: $main-font;
  font-weight: 300;
  padding: 10px;

  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: $heading-color;
  }

  .css-1aquho2-MuiTabs-indicator {
    background-color: $heading-color;
    height: 3px;
  }

  .change-icon {
    color: $light-color;
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;
    font-size: 28px;
  }

  .gridProduct {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
  }
}