@import '../../styles/colors.scss';

.product {
  width: 100%;
  margin-top: 90px;

  .product-wrapper {
    display: flex;

    .left {
      flex: 1;
      background-color: $primary-color;
      padding: 10px;
      border-radius: 5px;
      margin-right: 20px;
    }

    .middle {
      flex: 2;
      background-color: $primary-color;
      padding: 20px;
      margin-right: 20px;
    }

    .right {
      flex: 1;
    }
  }
}