@import '../../styles/fonts.scss';

.alert {
  font-family: $main-font;
  background-color: red;

  .alert-msg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 18px;
    }

    .btns {
      display: flex;
      margin-top: 10px;
      width: 100%;
      justify-content: space-between;

      button {
        width: 100%;
        padding: 5px 2px;
        background-color: transparent;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;

        &:first-child {
          color: lightblue;
        }
      }
    }
  }
}