@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.box {
  font-family: $main-font;
  color: $body-color;

  .top {
    .top-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-weight: 400;
        font-size: 18px;
      }

      .icon {
        color: $light-color;
        font-size: 28px;
        cursor: pointer;
      }

      margin-bottom: 20px;
    }

    .bottom-bar {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      padding: 30px 0px;
      border-bottom: 1px solid lightgray;

      .text {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        span {
          color: $body-color;

          &:first-of-type {
            font-weight: 400;
            font-size: 20px;
          }

          font-weight: 300;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .b-top {
      display: flex;
      flex-direction: column;

      .rnd {
        display: flex;
        justify-content: space-between;

        .counter {
          color: $light-color;
          font-weight: 300;
          font-size: 12px;
        }
      }

      input {
        padding: 20px;
        border: 1px solid lightgray;
        border-radius: 10px;
        font-size: 18px;
        outline: none;
      }

      span {
        margin: 10px 0px;
        font-size: 14px;
        font-weight: 300;
      }

      .upload {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 80px;
        border: 1px dashed lightgray;
        border-radius: 10px;
        background-color: $primary-color;

        label {
          .icon {
            font-size: 40px;
            margin-bottom: -10px;
          }
        }

        span {
          font-weight: 300;
          color: $light-color;
        }
      }
    }

    .second-step {
      select {
        width: 100%;
        padding: 15px 20px;
        font-size: 18px;
        color: $light-color;
        border-radius: 20px;
        border: 1px solid lightgray;
        font-weight: 300;
        outline: none;
        margin-bottom: 10px;
      }

      .location {
        display: flex;
        margin-top: 20px;
        border: 1px solid lightgray;
        border-radius: 20px;
        padding: 5px;
        align-items: center;

        input {
          width: 100%;
          padding: 10px 20px;
          border: none;
          font-size: 14px;
        }

        .icon {
          opacity: 0.5;
        }
      }

      .desc {
        width: 100%;

        input {
          width: 98%;
          padding: 10px;
          border-radius: 10px;
          border: 1px solid lightgray;
          font-size: 16px;

          &::placeholder {
            font-weight: 300;
            position: absolute;
          }
        }
      }

      .type {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .type-item {
          width: 100%;
          display: flex;
          justify-content: space-between;

          span {
            font-weight: 600;

          }
        }
      }

      .hide {
        display: flex;
        padding: 10px;
        margin-top: 10px;

        input {
          margin-right: 10px;
        }
      }
    }

    .third-step {
      display: flex;
      flex-direction: column;

      input {
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid lightgray;
        font-size: 16px;
        outline: none;
      }

      span {
        &:first-of-type {
          margin: 10px 0px;
          font-size: 12px;
        }
      }

      .subhead {
        margin-bottom: 10px;
      }

      select {
        padding: 10px 20px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 18px;
        font-weight: 500;
        color: $heading-color;
      }

      .type {
        .type-item {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;

          label {
            font-size: 12px;
          }

          span {
            margin: 0;
            color: white;
          }
        }
      }
    }

    .fourth-step {

      .ad-preview {
        padding: 20px;
        border: 1px dashed lightgray;
        border-radius: 10px;
        margin-top: 20px;
      }
    }

    .buttons {
      display: flex;
      margin-top: 100px;
      justify-content: space-between;

      button {
        width: 30%;
        padding: 10px 20px;
        font-size: 18px;
        background-color: transparent;
        border: 1px solid lightgray;
        border-radius: 10px;
        color: lightgray;
        margin: 0px 20px 20px 0px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}